@import "tailwindcss";

:root {
  --background: #122024;
  --foreground: #203039;
  --cta: #76ABAE;
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-head: var(--font-head);
  --color-cbg: var(--background);
  --color-cfg: var(--foreground);
  --color-cta: var(--cta);
}

